@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .navBtn{
@apply hidden h-6 w-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out
  }

  .gradient{
    @apply bg-gradient-to-r from-red-500 via-pink-500 to-violet-300
  }
}



@font-face {
  font-family: "Gilroy-Regular";
  src: url("../public/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../public/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../public/fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../public/fonts/Gilroy-Bold.ttf");
}
